/* All styles for your Card Components live here */

.CardContainer {
    display: flex;
    flex-flow: column;
    border: 2px solid lightgrey;
    width: fit-content;
    border-radius: 10px;
}

.CardBanner {
    width: auto;
}

img {
    border-radius: 6px 6px 0px 0px;
}

.CardContent {
    padding: 10px;
}
.CardContent h2 {
    margin: 0px;
}

.CardContent a {
    color: lightgrey;
}